<!-- Navigation Menu -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <div class="container">

    <a class="navbar-brand" href="">
      <span class="logo-icon">
        <i class="fas fa-paw fa-2x"></i><span class="text-primary font-italic"> my</span>Pets
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul id="main-menu" class="navbar-nav m-auto text-center">
        <li class="nav-item">
          <button class="nav-link btn px-3" id="all">
            <i class="fas fa-home fa-2x"></i>
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link btn px-3" id="cat">
            <i class="fas fa-cat fa-2x"></i>
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link btn px-3" id="dog">
            <i class="fas fa-dog fa-2x"></i>
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link btn px-3" id="fish">
            <i class="fas fa-fish fa-2x"></i>
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link btn px-3" id="bird">
            <i class="fas fa-crow fa-2x"></i>
          </button>
        </li>
      </ul>

      <!-- Shopping cart button -->
      <button class="nav-link btn px-3" id="cart-btn">
        <i class="icon-light fas fa-shopping-cart fa-2x fa-inverse"></i>
        <span id="cart-number" class="badge badge-danger ml-0">0</span>
      </button>

    </div>

  </div>
</nav>