<!-- Sidebar Sort -->
<form id="sort" class="d-flex flex-column form-inline my-lg-0">

  <h5>Sort</h5>
  <h6 class="font-italic">by price:</h6>
  <ul id="sort-price" class="d-flex flex-row navbar-nav m-auto text-center">
    <li class="nav-item">
      <button id="sort-price-up" class="nav-link btn mx-2" id="all">
        <i class="fas fa-dollar-sign fa-2x"></i><i class="fas fa-long-arrow-alt-up fa-2x"></i>
      </button>
    </li>
    <li class="nav-item">
      <button id="sort-price-down" class="nav-link btn mx-2" id="all">
        <i class="fas fa-dollar-sign fa-2x"></i><i class="fas fa-long-arrow-alt-down fa-2x"></i>
      </button>
    </li>
  </ul>
  <h6 class="mt-3 font-italic">by quantity:</h6>
  <ul id="sort-qty" class="d-flex flex-row navbar-nav m-auto text-center">
    <li class="nav-item">
      <button id="sort-qty-up" class="nav-link btn mx-2" id="all">
        <i class="fas fa-sort-numeric-up-alt fa-2x"></i>
      </button>
    </li>
    <li class="nav-item">
      <button id="sort-qty-down" class="nav-link btn mx-2" id="all">
        <i class="fas fa-sort-numeric-down-alt fa-2x"></i>
      </button>
    </li>
  </ul>

</form>